:root {
  --white: #fefefe;
  --light-blue: #acbace;
  --gray-300: #9d9d9d;
  --gray-600: #626262;
  --gray-900: #060606;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans";
  font-size: 6.25%;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--white);
}
body::-webkit-scrollbar {
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24rem 64rem;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  align-items: start;
}
header > span {
  font-size: 14rem;
  color: var(--gray-600);
}
header > span:hover {
  cursor: pointer;
  text-decoration: underline;
}
header > span:nth-child(1) {
  margin-right: 25rem;
}
#circle {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background: conic-gradient(
    var(--white) 0deg 90deg,
    var(--gray-900) 90deg 180deg,
    var(--gray-600) 180deg 270deg,
    var(--gray-300) 270deg
  );
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
}
#portfolio {
  justify-content: center;
  align-items: center;
}
#portfolio > h1 {
  word-break: break-all;
  font-size: 290rem;
  line-height: 290rem;
  font-weight: 400;
  color: var(--gray-900);
}
section {
  display: flex;
}
.left,
.right {
  width: 50%;
}
#sobre > .left,
#conhecimento > .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sobre > .left {
  align-items: end;
}
#conhecimento .right {
  align-items: start;
}
#sobre > .left > h1,
#conhecimento > .right > h1 {
  word-break: break-all;
  font-size: 180rem;
  line-height: 180rem;
  font-weight: 400;
  color: var(--gray-900);
}
#conhecimento > .right > h1 {
  line-height: 205rem;
}
#sobre > .right {
  padding-inline: 124rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32rem;
}
#sobre > .right > p,
#sobre > .right > p > strong {
  line-height: 28rem;
  font-size: 16rem;
}
#sobre > .right > p {
  font-weight: 200;
  color: var(--gray-600);
}
#sobre > .right > p > strong {
  font-weight: 800;
  color: var(--gray-900);
}
#sobre > .right > a > #img {
  width: 100%;
  height: 310rem;
  background-image: url("./src/img.webp");
  background-size: cover;
  background-position: top;
  transition: all 1.25s ease-in-out;
  filter: saturate(0) brightness(1.05);
}
#sobre > .right > a > #img:hover {
  filter: saturate(1) brightness(1);
}
#conhecimento > .left {
  display: grid;
  grid-template-areas: "a b c" ". d e" ". . f";
  place-items: center;
}
#conhecimento > .left > a {
  text-decoration: none;
}
#conhecimento > .left > a:nth-child(1) {
  grid-area: a;
}
#conhecimento > .left > a:nth-child(2) {
  grid-area: b;
}
#conhecimento > .left > a:nth-child(3) {
  grid-area: c;
}
#conhecimento > .left > a:nth-child(4) {
  grid-area: d;
}
#conhecimento > .left > a:nth-child(5) {
  grid-area: e;
}
#conhecimento .left > a:nth-child(6) {
  grid-area: f;
}
#conhecimento > .left .column {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: fit-content;
  gap: 6rem;
}
#conhecimento > .left .column > i {
  font-size: 56rem;
  color: var(--gray-600);
}
#conhecimento > .left .column > span {
  font-size: 20rem;
  font-weight: 700;
  color: var(--gray-900);
}
.mobile {
  display: none;
}
.desktop {
  display: flex;
}

@media (max-width: 600px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  header {
    padding: 24rem 32rem;
  }
  section {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  #portfolio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #portfolio > h1:nth-child(2) {
    font-size: 105rem;
    line-height: 105rem;
  }
  #portfolio > h1:nth-child(3) {
    font-size: 135rem;
    line-height: 135rem;
  }
  #sobre {
    justify-content: center;
    gap: 50rem;
  }
  #sobre > .left {
    justify-content: center;
    align-items: center;
  }
  #sobre > .left > h1,
  #conhecimento > .right > h1 {
    font-size: 90rem;
    line-height: 90rem;
  }
  #sobre > .left h1:nth-child(1) {
    margin-right: 20rem;
  }
  #sobre > .left h1:nth-child(2) {
    margin-left: 100rem;
  }
  #sobre > .right {
    padding-inline: 24rem;
    gap: 10rem;
  }
  #sobre > .right > a > #img {
    height: 160rem;
  }
  #sobre > .right > p,
  #sobre > .right > p > strong {
    font-size: 14rem;
    line-height: 20rem;
  }
  #conhecimento {
    justify-content: center;
  }
  #conhecimento > .left {
    grid-template-areas: ". . a . ." ". b . c ." ". d e f .";
  }
  #conhecimento > .right {
    align-items: center;
  }
}
